/* --------> common */

body {
  font-family: "Segoe UI", Verdana, "游ゴシック", YuGothic,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

button:focus {
  outline: none;
}

section {
  margin-bottom: 100px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.textarea {
  text-align: center;
}

.textarea h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.textarea p {
  font-size: 14px;
  line-height: 2.6;
  margin-bottom: 0;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  line-height: 55px;
  padding: 0 15px;
  min-width: 200px;
  font-size: 14px;
}

.btn:hover {
  background-color: #442602;
  color: #fff;
}

.container {
  max-width: 1180px;
}

/* <-------- common */

/* --------> header */

header {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

header .navbar {
  height: 100%;
  padding: 0;
  max-width: 1180px;
  height: 90px;
  margin: 0 auto;
}

header .navbar-nav {
  width: 100%;
}

header .navbar .nav-item .nav-link {
  padding: 0 21px;
  font-size: 14px;
  color: #fff;
}

header .navbar .nav-item .nav-link:hover {
  color: #999;
}

header .header-logo img {
  width: 50%;
}

header .dropdown-menu {
  background-color: #000;
  margin-top: 33px;
  border-radius: 0;
  width: 220px;
}

header .dropdown-item {
  color: #fff;
  font-size: 14px;
  line-height: 3;
  transition: 0.2s;
}

header .dropdown-item:hover {
  background-color: #442602;
  color: #fff;
}

header .navbar-toggler span {
  background-color: #fff;
  border-radius: 20%;
  display: block;
  width: 16px;
  height: 3px;
  margin: 2px;
}

/* <-------- header */

/* --------> main */

#top {
  background-color: #000;
}

#top .top-image {
  background: url(./img/top-1.JPG) top left / cover;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top .top-image h2 {
  color: #fff;
  font-size: 36px;
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: 700;
  writing-mode: vertical-rl;
}

#top .textarea {
  padding: 50px 0 80px;
  margin-bottom: 30px;
  color: #fff;
}

#info .info-image {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}

#info .info-image img {
  width: 25%;
}

#info .textarea {
  padding: 50px 20px;
  background: #f5f5f5;
  color: #000;
}

#info .textarea h2 {
  color: #442606;
}

#cards .card {
  background-color: #f5f5f5;
  border: none;
  border-radius: 0;
}

#cards .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#cards .card-title {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  z-index: 10;
}

#cards .card-body {
  padding: 2rem;
}

#cards .triangle {
  width: 160px;
  height: 160px;
}

#cards .triangle::after {
  content: "";
  top: -1px;
  left: -1px;
  border-bottom: 150px solid transparent;
  border-left: 150px solid #fff;
  position: absolute;
  z-index: 1;
}

#cards p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 2.4;
  text-align: left;
}

#news-event {
  background-color: #f5f5f5;
  padding: 50px 0 60px;
}

#news-event .news-event-title {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#news-event h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 45px;
}

#news-event span {
  margin-left: 16px;
}

#news-event a {
  color: #000;
  text-decoration: none;
}

#news article {
  padding: 18px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: -1px;
}

#news time {
  color: #999;
  font-size: 12px;
  display: block;
}

#news-event h3 {
  font-size: 16px;
  font-weight: 400;
}

#news h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#news-event .news-article {
  margin-bottom: 30px;
}

#news-event .news-article a:hover {
  color: #442602;
}

#news-event .event-article {
  margin-bottom: 30px;
}

#event article {
  border: 1px solid #ddd;
  background-color: #fff;
  margin-top: -1px;
}

#event .event-article-text {
  padding: 0 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#event .event-img-wrap {
  width: 216px;
  overflow: hidden;
  margin: -1px;
}

#event img {
  width: 100%;
  height: 100%;
  display: block;
  transition-duration: 0.5s;
}

#event a:hover .event-img-wrap img {
  transform: scale(1.2);
}

#event .event-article-link {
  display: flex;
  overflow: hidden;
}

#event time {
  color: #999;
  font-size: 12px;
}

#news-event .info-list {
  text-align: right;
  font-size: 14px;
}

#news-event .info-list a::after {
  content: "＞";
  margin-left: 12px;
  font-weight: 700;
}

#news-event .info-list a:hover,
a:hover::after {
  color: #999;
  transition: 0.2s;
  transition-timing-function: ease;
}

#plan .plan-textarea h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #442506;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

#plan .plan-textarea p {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 2.4;
  text-align: center;
}

#plan ul li {
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 1.4;
}

#plan ul li:nth-child(1) {
  background: #a19283;
  height: 55px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
}

#plan .plan-price-yen {
  color: #442506;
  margin-bottom: 16px;
  font-family: Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "メイリオ", Meiryo, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

#plan .plan-price-yen span {
  font-size: 40px;
}

#plan .plan-list-standard {
  border: 5px solid #442607;
}

#plan .plan-list-standard li:nth-child(1) {
  background: #442607;
  margin: -1px -1px;
}

#plan ul li:nth-child(2) {
  background: #ece9e6;
  padding: 25px 0;
  line-height: 1;
}

#plan .plan-btn {
  margin-top: 40px;
  text-align: center;
}

#cafe {
  background: url(./img/cafe-1.JPG) top / cover no-repeat;
  height: 500px;
  margin-bottom: 0;
}

#cafe .cafe-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

#cafe .cafe-textarea h2 {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho",
    "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", serif;
  color: #fff;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

#cafe .cafe-textarea p {
  margin-bottom: 50px;
  color: #fff;
  font-size: 14px;
  line-height: 2.4;
  text-align: center;
}

#cafe .cafe-textarea ul {
  margin-bottom: 0;
  display: flex;
}

#cafe .cafe-textarea ul li {
  margin: 0 15px;
  position: relative;
  width: 400px;
  height: 120px;
}

#cafe .cafe-textarea ul li a {
  overflow: hidden;
  color: #000;
  text-decoration: none;
  display: block;
}

#cafe .cafe-textarea ul li a span {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 120px;
  background: #fff;
  font-size: 16px;
  line-height: 120px;
}

#cafe .cafe-textarea ul li a span::before {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -120px;
  width: 0;
  height: 0;
  border-width: 120px 61px 0 60px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
  content: "";
}

#cafe a:hover img {
  transform: scale(1.2);
}

#cafe img {
  display: block;
  transition-duration: 0.5s;
  overflow: hidden;
}

/* <-------- main */

/* --------> footer */

footer .textarea {
  padding: 60px 0;
  text-align: center;
}

footer .footer-logo {
  margin-bottom: 20px;
}

footer .footer-logo img {
  width: 140px;
}

footer .textarea p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2.2;
}

footer .footer-social-nav {
  margin-bottom: 0;
}

footer .footer-social-nav li {
  display: inline;
  margin-right: 12px;
}

footer .footer-social-nav li a {
  text-decoration: none;
}

footer .footer-social-nav li a svg {
  width: 14px;
}

footer .footer-social-nav li a:hover svg {
  fill: #999;
  color: #fff;
}

footer .footer-menu {
  display: flex;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}

footer .footer-menu li + li::before {
  margin: 0 10px;
  content: "|";
}

footer .footer-menu-item a {
  text-decoration: none;
  color: #000;
}

footer .footer-menu-item a:hover {
  color: #442602;
}

footer .footer-copyright {
  background-color: #000;
  height: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
}

/* <-------- footer */

@media (max-width: 1199px) {
  .btn {
    min-width: 150px;
  }

  header {
    background-color: #000;
    position: static;
  }

  header .navbar {
    width: 100%;
    height: 60px;
  }

  header .header-logo {
    padding: 0 40px;
  }

  header .navbar-nav {
    background-color: #000;
  }

  header .navbar .navbar-nav .nav-link {
    padding: 0 40px;
    font-size: 13px;
    line-height: 50px;
  }

  header .navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }

  header .dropdown-menu {
    margin-top: 0;
  }

  header .navbar .dropdown-item {
    margin-left: 32px;
    height: 50px;
    font-size: 13px;
  }

  header .dropdown-item:hover {
    background-color: #000;
  }

  header .navbar-toggler {
    height: 60px;
  }

  header .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 991px) {
  #cafe {
    height: auto;
  }

  #cafe .cafe-textarea {
    padding: 55px 0 50px;
  }

  #cafe .cafe-textarea h2 {
    font-size: 28px;
  }

  #cafe .cafe-textarea p {
    margin-bottom: 17px;
    line-height: 2;
  }
}

@media (max-width: 900px) {
  #cafe .cafe-textarea ul {
    display: block;
    width: 100%;
  }

  #cafe .cafe-textarea ul li {
    margin: 0 auto;
  }

  #cafe .cafe-textarea ul li:nth-child(1) {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  section {
    margin-bottom: 40px;
  }

  .btn {
    line-height: 45px;
    min-width: 180px;
    font-size: 12px;
  }

  header .header-logo {
    padding-left: 20px;
  }

  header .header-logo img {
    width: 110px;
  }

  header .navbar .navbar-nav .nav-link {
    padding: 0 20px;
  }

  header .navbar .dropdown-item {
    margin-left: 30px;
  }

  #top .top-image {
    height: 360px;
  }

  #top .top-image h2 {
    font-size: 20px;
  }

  #top .textarea {
    padding: 32px 0;
    margin-bottom: 40px;
  }

  #top .textarea h2 {
    font-size: 20px;
    padding: 0 20px;
  }

  #top .textarea p {
    line-height: 2;
    padding: 0 20px;
  }

  #info .info-image {
    flex-wrap: wrap;
    padding-top: 0;
  }

  #info .info-image img {
    width: 50%;
  }

  #info .textarea {
    padding: 35px 25px;
    margin-bottom: 40px;
  }

  #info .textarea h2 {
    font-size: 20px;
  }

  #info .textarea p {
    line-height: 2;
  }

  #news-event h2 {
    font-size: 22px;
    margin-bottom: 0;
  }

  #news-event h3 {
    overflow: visible;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 6px;
    text-overflow: clip;
    white-space: normal;
  }

  #news-event time {
    font-size: 10px;
  }

  #news {
    margin-bottom: 35px;
  }

  #event .event-img-wrap {
    display: none;
  }

  #event .event-article-text {
    padding: 10px 20px 15px;
  }

  #plan .plan-textarea h2 {
    font-size: 20px;
  }

  #plan .plan-textarea p {
    margin-bottom: 35px;
    line-height: 2;
  }

  #plan ul {
    margin-bottom: 25px;
  }

  #plan ul li {
    padding: 12px 10px;
  }

  #plan ul li:nth-child(1) {
    height: 45px;
    font-size: 16px;
    line-height: 20px;
  }

  #plan ul li:nth-child(2) {
    padding: 15px 0;
  }

  #plan .plan-btn {
    margin-top: 0;
  }

  #cafe .cafe-textarea h2 {
    font-size: 20px;
  }

  footer .textarea {
    padding: 40px 0;
    margin: 0 auto;
    width: 90%;
  }

  footer .textarea p {
    margin-bottom: 10px;
  }

  footer .footer-logo {
    margin-bottom: 10px;
  }

  footer .footer-logo img {
    width: 110px;
  }

  footer .footer-menu {
    flex-wrap: wrap;
    padding: 30px 20px;
  }

  footer .footer-menu li {
    width: 50%;
    line-height: 2.4;
    text-align: left;
  }

  footer .footer-menu li + li::before {
    content: none;
  }
}

@media (max-width: 500px) {
  #cafe .cafe-textarea ul li {
    width: 100%;
  }
}
